<mat-form-field [appearance]="'outline'" class="w-100">
    <mat-label>{{label}}</mat-label>
    <input type="text"
           [placeholder]="placeholder"
           matInput
           [formControl]="_control"
           [matAutocomplete]="auto"
           [id]="id">
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of list; track option) {
        <mat-option [value]="option" (onSelectionChange)="onSelect(option)">{{option}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
