@switch (type) {
    @case ('text') {
        <app-input-control type="text" [control]="_control" [label]="label" [id]="id"></app-input-control>
    }
    @case ("number") {
        <app-number-control class="m-e-2 w-10" [control]="_control" [label]="label" [id]="id"></app-number-control>
    }
    @case ("date") {
        <app-date-control class="m-x-1" [control]="_control" [label]="label" [id]="id"></app-date-control>
    }
    @case ("autocomplete") {
        <app-auto-complete [control]="_control" [label]="label" [list]="list" [id]="id" (search)="onSearch($event)"></app-auto-complete>
    }
}
<app-field-error-message [control]="_control" [label]="label"></app-field-error-message>

