.content {
        --grid-layout-gap: 10px;
        --grid-column-count: 2;
        --grid-item--min-width: 100px;
        --gap-count: calc(var(--grid-column-count) - 1);
        --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
        --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
      
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
        grid-gap: var(--grid-layout-gap);

        .price, .quantity {
                width: 10%;
        }
}

@media (max-width: 767px) {
        .content {
                --grid-column-count: 1;
                .price, .quantity {
                        width: 100%;
                }
        }
}